@import 'tailwindcss';

@keyframes drive {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -80vh);
  }
}

@layer utilities {
  .animate-drive {
    animation: drive 7s linear forwards;
  }
}

.lane-separator {
  background: repeating-linear-gradient(to bottom, white 0px, white 10px, transparent 10px, transparent 20px);
}
